@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<p>@ViewBag.about1</p>
<p>@ViewBag.about2</p>
<p>@ViewBag.about3</p>
<p>@ViewBag.about4</p>
<p>@ViewBag.about5</p>
<p>@ViewBag.about6</p>

