@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PersonModel

    <div class="col-lg-1">@Model.Id</div>
    <div class="col-lg-4">@Model.Name</div>
    <div class="col-lg-3">@Model.City</div>
    <div class="col-lg-3">@Model.PhoneNr</div>
    <div class="col-lg-1"><a href="/Persons/DeletePerson?id=@Model.Id">Remove</a></div>
    @*<dt>Name</dt>
    <dd>@Model.Name</dd>
    <dt>City</dt>
    <dd>@Model.City</dd>
    <dt>Phone</dt>
    <dd>@Model.Phone</dd>*@